<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="865704b0-9f86-4da1-af49-656cb0495699" name="TSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="865704b0-9f86-4da1-af49-656cb0495699fileName">TSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
